node_modules/

# pnpm (https://pnpm.io/)
.pnpm-debug.log

# npm (use pnpm instead)
package-lock.json

# yarn (use pnpm instead)
yarn.lock

# buf (https://buf.build)
src-gen/

# nohup (https://en.wikipedia.org/wiki/Nohup)
nohup.out

# direnv (https://direnv.net)
.direnv/

# idea (https://www.jetbrains.com/idea)
/.idea/
