# intellij
*.iml
.idea

# eclipse
.settings/
bin/
target-eclipse/
.classpath
.factorypath
.pmd
.pmdruleset.xml
.project

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# java
*.jar